* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
}

.titlebar {
  width: 100vw;
}

.titlebar-top { 
  height: 20px; 
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(100, 135, 219));
  color: rgb(250, 250, 250);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 10px;
}

.titlebar-mid {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(182, 197, 238));
}

.titlebar-bottom {  
  height: 20px;
  background: linear-gradient(to right, rgb(81, 117, 201), rgb(182, 197, 238), rgb(81, 117, 201));
  color: rgb(250, 250, 250);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.titlebar-title,
.titlebar-login {
  margin: 10px;
}

.titlebar-login,
.titlebar-logout {
  padding: 10px;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.sidebar {
  height: calc(100vh - 100px);
  width: 225px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: left;
  background: rgb(241, 241, 241);
  border: 1px;
  border-style: solid;
  border-color: rgba(50, 50, 50, 0), rgb(50, 50, 50);
}

.sidebar > div,
.sidebar > h2 {
  width: 100%;
  padding: 5px;
}

.sidebar > h2 {
  background: linear-gradient(to right, rgb(215, 214, 212), rgb(242, 241, 240));
}

.sidebar-titlesep {
  background: linear-gradient(to right, rgb(225, 225, 225), rgb(151, 149, 150));
}

.sidebar > div > input,
.sidebar > div > select {
  width: 100%;
}

.sidebar-update-label {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 3px;
  margin-bottom: 2px;
}

.sidebar-update-label > select {
  flex-grow: 100;
}

.sidebar-locs {
  flex-grow: 100;
}

.sidebar-buttons-1,
.sidebar-buttons-2,
.sidebar-buttons-3 {  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3px;
}

.main {
  height: calc(100vh - 100px);
  width: calc(100% - 225px);
  display: flex;
  flex-direction: column;
  align-items: left;
  float: left;
  border: 1px;
  border-style: solid;
  border-color: rgba(50, 50, 50, 0), rgb(50, 50, 50);
}

.main > div,
.main > h2 {
  width: 100%;
  padding: 5px;
}

.main > h2 {
  background: linear-gradient(to right, rgb(239, 224, 155), rgb(253, 249, 224));
}

.main-titlesep {
  background: linear-gradient(to right, rgb(194, 125, 56), rgb(239, 224, 155));
}

.main > div > input,
.main > div > select,
.main > div > textarea {
  width: 100%;
}

.main-desc {
  flex-grow: 100;
}

.main-desc > select,
.main-desc > textarea {
  height: calc(100% - 40px);
}
